/* ── Linha de separação abaixo dos botões principais ───────────── */

/* Modo escuro */
body:not(.tema-claro) .button-group::after {
  content: "";
  position: absolute;
  bottom: -42px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #ffffff;
}

/* ── Linha de separação superior ───────────────────────────── */

/* Modo escuro */
body:not(.tema-claro) .top-bar::after {
  content: "";
  position: absolute;
  bottom: -30px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #5c7a9c; /* azul acinzentado com contraste */
}

/*Linha de baixo do agendamento:__________________*/
.linha-divisoria {
  width: 100%;
  height: 2px;
  background-color: #ffffff; /* ou a cor que você usou na linha de cima */
  margin-top: 40px;
  margin: 16px 0; /* espaçamento acima e abaixo */
  margin-bottom: 10px;
}

