/* ── Grid ─────────────────────────────────────────────── */
.info-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 8px;
  margin-top: 55px;
}

.field {
  display: flex;
  flex-direction: column;
}


/*Organização do container e botões___________________________________________*/
.container {
  max-width: 730px;
  margin: auto;
  background: #2a2f4a;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  border: 1px solid #1e2238;
  margin-top: 0px;
}

.top-bar {  /*Organização dos botões superiores*/
  display: flex;
  flex-direction: column; /* 👉 agora empilha verticalmente */
  align-items: center;    /* centraliza no meio do container */
  gap: 12px;              /* espaço entre as duas linhas */
  margin-bottom: 10px;
  position: relative;
}

.linha-superior {
  display: flex;
  justify-content: center;
  gap: 2px; /* espaço entre os 3 botões */
}

.linha-inferior {
  display: flex;
  justify-content: center;
  gap: 4px; /* espaço entre os 2 ícones */
}
/*_____________________________________________________________________________*/


.agendamento-wrapper {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-bottom: 18px;  /*Controla a distância da linha de baixo.*/
}

.agendamento-top {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-top: 3px; /* 👈 isso desce o bloco inteiro */
  margin-bottom: -6px; /* 👈 reduz o espaço entre esse bloco e os campos abaixo */
}

.blocos-data {
  display: flex;
  gap: 8px;
  margin-bottom: -1px; /* 👈 isso desce os campos de data */
}

.lgpd-wrapper {
  display: flex;
  justify-content: flex-start; /* alinha à esquerda */
  margin-top: 9px;
}
